body{
    background-color: white;
}
h2.mb-4{
    text-align: center;
font-size: 30px;
font-weight: 300;
color: #222;
letter-spacing: 1px;
text-transform: uppercase;
display: grid;
grid-template-columns: 1fr max-content 1fr;
grid-template-rows: 27px 0;
grid-gap: 20px;
align-items: center;

}
hr.lineAround {
    border-top: 1px solid darkred;
  }
  .box-with-image {
    display: flex;
    align-items: center;
  }
  .image {
    flex: 1;
    padding: 20px;

  }

.button-reg{
    background-color: #D21312;
    border-radius: 0.3rem;
    padding: 0.6em 1.3em;
    color: white;
    font-size: 1.1rem;
    transition-duration: 0.7s;
    border: 1px solid transparent;
    margin-right:0.5rem ;
    margin-top: 10px;
    height: 60px; 
    
}
.custom-btn {
    background-color: #D21312;
    border-radius: 0.3rem;
    padding: 0.6em 1.3em;
    color: white;
    font-size: 1.1rem;
    transition-duration: 0.7s;
    border: 1px solid transparent;
    margin-right:0.5rem ;
    
    height: 60px; 
  
}
.patient-btn{
    background-color: #D21312;
    border-radius: 0.3rem;
    padding: 0.6em 1.3em;
    color: white;
    font-size: 1.1rem;
    transition-duration: 0.7s;
    border: 1px solid transparent;
    margin-right:0.5rem ;
    margin-top: 10px;
    height: 60px; 
}
.cash-btn{
    background-color: #D21312;
    border-radius: 0.3rem;
    padding: 0.6em 1.3em;
    color: white;
    font-size: 1.1rem;
    transition-duration: 0.7s;
    border: 1px solid transparent;
    margin-right:0.5rem ;
    margin-top: 25rem;
    height: 60px; 
    width: 320px;
}
.credit-btn{
    background-color: #D21312;
    border-radius: 0.3rem;
    padding: 0.6em 1.3em;
    color: white;
    font-size: 1.1rem;
    transition-duration: 0.7s;
    border: 1px solid transparent;
    margin-right:0.5rem ;
    margin-top: 25rem;
    height: 60px; 
    width: 320px;
  
}
.con-btn{
    background-color: #D21312;
    border-radius: 0.3rem;
    padding: 0.6em 1.3em;
    color: white;
    font-size: 1.1rem;
    transition-duration: 0.7s;
    border: 1px solid transparent;
    margin-right:0.5rem ;
    margin-top: 55rem;
    height: 60px; 
    width: 150px;
  
    
}
.form-label {
    margin-bottom: 10px; 
}

.FEMALE {
    background-color: red;
    border-color: red;
}

/* Hover styles */
.FEMALE:hover {
    background-color: red;
    border-color: red;
}

/* Selected styles */
.FEMALE:checked {
    background-color: red;
    border-color: red;
}

.form-check-input:hover {
    background-color: red;
    border-color: red;
}

.form-check-input:checked {
    background-color: red;
    border-color: red;
}
.patient-page {
    background-image: url('/Users/woaodhisham/Desktop/finall/Code-Commandos-Clinic/frontend/src/images/patient.jpeg');
    background-size: 40%; 
    background-repeat: no-repeat;
    background-position: right; 
    background-position: 80% top;  
   
    
}
.contract-page {
    background-image: url('/Users/woaodhisham/Desktop/finall/Code-Commandos-Clinic/frontend/src/images/contract.png');
    background-size: 35%; 
    background-repeat: no-repeat; 
    background-position: right; 
  
    background-position-y: 90px; 
    
}
.pay-page {
    background-image: url('/Users/woaodhisham/Desktop/finall/Code-Commandos-Clinic/frontend/src/images/wallet.png');
    background-size: 35%; 
    background-repeat: no-repeat; 
    background-position: left; 
    background-position-y: 70px; 
    background-position-x: 70px; 
    width: 40rem; /* Adjust width as needed */
    height: 400rem; /* Adjust height as needed */
    margin: 0.5rem; /* Adjust margin between elements */
}
.pay1-page {
    background-image: url('/Users/woaodhisham/Desktop/finall/Code-Commandos-Clinic/frontend/src/images/creditcard.png');
    background-size: 35%; 
    background-repeat: no-repeat; 
    background-position: left; 
    background-position-y: 70px; 
    background-position-x: 70px; 
    width: 40rem; /* Adjust width as needed */
    height: 400rem; /* Adjust height as needed */
    margin: 0.5rem; /* Adjust margin between elements */
}


.req-page {
    background-image: url('/Users/woaodhisham/Desktop/finall/Code-Commandos-Clinic/frontend/src/images/req.jpeg');
    background-size: 30%; 
    background-repeat: no-repeat; 
    background-position: right; 
    
}
.doctor-page {
    background-image: url('/Users/woaodhisham/Desktop/finall/Code-Commandos-Clinic/frontend/src/images/dooct.jpeg');
    background-size: 50%; 
    background-repeat: no-repeat; 
    background-position:  right ; 
    
    
}
