.headd{
    color: #d21312;
    margin-left: 3%;
}
.recordcon{
    display: flex;
    flex-direction: row;
    
}

.sss{
    border :#d21312 1px solid ;
    margin-left: 2%;
}
.sss td, .sss th {
    border: 1px solid #d21312;
    padding: 8px;
    text-align: left;
    
  }
  
  .sss .line td {
    border-top: 1px solid #ddd;
  }
  .recordcon{
    display: flex;
    flex-direction: row;

  }
  .record{
    width: 20%;
    height: 20%;
    margin-top: 2%;
    margin-left: 5%;
    
  }
  .loadd{
    margin-left: 2%;
  }