
body{
    font-size: 16px;
}

.fontBig{
    font-size: 1.5rem;
    font-weight: bold;
}

.fontMed{
    font-size: 1rem;
}

.fontSmall{
    font-size: 0.7rem;
}

.border{
    border: 1px solid red;
    border-radius: 5px;
}

.buttons{
    width: -webkit-fill-available;
}

.box{
    padding: 1rem;
    box-shadow: 0 0 5px red;

}

.input-danger:focus {
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}

.nav-settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.red-text {
  color: black;
}
.blue-text {
  color: blue;
}

.custom-right-align {
    display: flex;
    justify-content: flex-end;
}

.custom-past-appointments {
    margin-left: auto;
}
hr.lineAround {
    border-top: 1px solid darkred;
  }

  h2.mb-4{
      text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;

  }